<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>
    <%= user.profile.name %>'s Profile'
  </h1>
  <% profile.myFavs.forEach((myfavs) => { %>
    <ul>
      <%=  %> 
    </ul>

  <%}) %> 
  
</main>

<%- include('../partials/footer') %>
