<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>
    <%= user.profile.name %>'s Profile'
  </h1>
  <% profile.myFavs.forEach((fav) => { %>
    <h1>
      <%= fav.name %>
    </h1>
    <h3>
      <%= fav.size %>, 
      <%= fav.iced ? 'Iced' : 'Hot' %>,
      <%= fav.brew %>, 
      <%= fav.addShot ? 'Add Extra Shot' : 'Regular' %>,
      <%= fav.flavor %>, 
      <%= fav.milk %>, 
      <%= fav.whippedCream ? 'Add Whipped Cream' : 'No Whipped Cream' %>
    </h3>
    <form action="/profiles/favorites/<%= fav._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete from Favorites</button>
    </form>
    
  <%}) %> 
  
</main>

<%- include('../partials/footer') %>
