<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="drinkOrderSticker">
    <h1><%= drink.name %></h1>
    <ul>
      <li>
        <%= drink.size %> 
      </li><br>
      <li>
        <%= drink.iced ? 'Iced' : 'Hot' %>
      </li><br>
      <li>
        <%= drink.brew %> 
      </li><br>
      <li>
        <%= drink.addShot ? 'Extra Shot' : 'Regular' %>
      </li><br>
      <li>
        Add <%= drink.flavor %> 
      </li><br>
      <li>
        Add <%= drink.milk %> 
      </li><br>
      <li>
        <%= drink.addShot ? 'Whipped Cream' : 'No Whipped Cream' %>
      </li><br>
      <li>
        <%= drink.drizzle %> drizzle
      </li><br>
    </ul>
  </div>
  <a href="/drinks/<%= drink._id %>/profiles">
    <button type="submit" class="btn primary-btn">
      Add Drink To My Favorites
    </button>
  </a>
  <div id="rem">

    <form action="/drinks/<%= drink._id %>" method="POST">
      <label>Date:
        <input type="date" name="when">
      </label><br>
      <textarea type="string" name="narrative" cols="70" rows="10" placeholder="Describe the narrative around enjoying this drink.."></textarea><br>
      <button>Add New Entry</button>
    </form>
    <h1>Reminiscence</h1>
    <h3>Take yourself back to the times you enjoyed one of your favorite drink!</h3>
  </div>
</main>

<%- include('../partials/footer') %>
