<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<%- include('../partials/nav') %>

<main>
  <h1 class="drink-ready">Order ready for <%= user.profile.name %>!</h1>
  <div class="card text-center">
    <div class="card-header">
      <h2 class="card-title"><%= drink.name %></h5>
    </div>
    <div class="card-body">
      <h5 class="card-text">
      <%= drink.size %>, 
      <%= drink.iced ? 'Iced' : 'Hot' %>,
      <%= drink.brew %><br> 
      <%= drink.addShot ? 'Extra Shot' : 'Regular' %>,
      Add <%= drink.flavor %>,
      Add <%= drink.milk %><br> 
      <%= drink.addShot ? 'Whipped Cream' : 'No Whipped Cream' %>
      <%= drink.drizzle %> drizzle
      </h5>
    </div>
    <div class="card-footer">
      <a href="/drinks/<%= drink._id %>/profiles">
        <button type="submit" class="btn btn-secondary">
          Add Drink To My Favorites
        </button>
      </a> 
    </div>
  </div>
    
  <div id="rem">
    <form action="/drinks/<%= drink._id %>/memories" method="POST">
      <label>Date:
        <input type="date" name="when">
      </label><br>
      <textarea type="string" name="narrative" cols="70" rows="10" placeholder="Describe the narrative around enjoying this drink.."></textarea><br>
      <button>Add New Entry</button>
    </form>

    <h1>Reminiscence</h1>
    <h3>Take yourself back to the times you enjoyed one of your favorite drink!</h3>
  </div>
  <% drink.memory.forEach((memory) => { %>
    <h1>
      <%= memory.narrative %>
    </h1>
    <form action="/drinks/<%= drink._id %>/memories/<%= memory._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  <%}) %> 
</main>

<%- include('../partials/footer') %>
