<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="drinkOrderSticker">
    <ul>
      <li>
        Order for: <%= user.profile.name %> 
      </li><br>
      <li>
        Drink Name: <%= drink.name %> 
      </li><br>
      <li>
        <%= drink.iced ? 'Iced' : 'Hot' %>
      </li><br>
      <li>
        <%= drink.brew %> 
      </li><br>
      <li>
        <%= drink.addShot ? 'Extra Shot' : 'Regular' %>
      </li><br>
      <li>
        Add <%= drink.flavor %> 
      </li><br>
      <li>
        Add <%= drink.milk %> 
      </li><br>
      <li>
        <%= drink.addShot ? 'Whipped Cream' : 'No Whipped Cream' %>
      </li><br>
      <li>
        <%= drink.drizzle %> drizzle
      </li><br>
    </ul>
  </div>
  <a href="/drinks/<%= drink._id %>/profiles">
    <button type="submit" class="btn primary-btn">
      Add Drink To My Favorites
    </button>
  </a>
  <a href="/drinks/new">
    <button type="submit" class="btn primary-btn">
      Create A New Drink
    </button>
  </a>
  
</main>

<%- include('../partials/footer') %>
