<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<%- include('../partials/nav') %>

<main>
  <div id="drink-rem">
    <div class="dr card text-center">
      <div class="card-header">
        <h2 class="card-title"><%= drink.name %></h5>
      </div>
      <div class="card-body">
        <h5 class="card-text">
        <%= drink.size %>, 
        <%= drink.iced ? 'Iced' : 'Hot' %>,
        <%= drink.brew %><br> 
        <%= drink.addShot ? 'Extra Shot' : 'Regular' %>,
        Add <%= drink.flavor %>,
        Add <%= drink.milk %><br> 
        <%= drink.addShot ? 'Whipped Cream' : 'No Whipped Cream' %>
        <%= drink.drizzle %> drizzle
        </h5>
      </div>
    </div>
    <div class="dr" id="rem">
      <form action="/drinks/<%= drink._id %>/memories" method="POST">
        <label>Date:
          <input class="form-control" type="date" name="when">
        </label><br>
        <div class="form-group">
          <label>Describe the narrative around enjoying this drink..</label>
          <textarea class="form-control" type="string" name="narrative" rows="5"></textarea>
        </div>
        <button>Add New Entry</button>
      </form>
    </div>
  </div>
    <h1>Reminiscence</h1>
    <h3>Take yourself back to the times you enjoyed one of your favorite drink!</h3>
 
  <% drink.memory.forEach((memory) => { %>
    <div class="card text-center">
      <div class="card-header">
        <h2><%= memory.when %></h2>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= memory.narrative %>
        </p>
      </div>
    </div>


    <h1>
      <%= memory.narrative %>
    </h1>
    <form action="/drinks/<%= drink._id %>/memories/<%= memory._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  <%}) %> 
</main>

<%- include('../partials/footer') %>
